body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* секция HEADER */
.header,
.header-nav,  
.header-nav-list, 
.header-nav-contacts {
    display: flex;
}
.header {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}
.emblem {
    color: var(--ad-hover-text);
}
.emblem-nav {
    color: var(--emblem-text);
}
.header-nav > a,
.footer-em > a {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.header-nav-list {
    align-items: center;
    margin-left: 93px;
}
.header-nav-list a {
    color: var(--main-text);
    padding-right: 50px;
    font-size: 14px;
}
.header-nav-list .header-a-portfolio {
    color: var(--ad-hover-text);
}
.header-nav-contacts a {
    padding-left: 50px;
    color: var(--ad-main-text);
    font-size: 14px ;
}
.header a:hover {
    color: var(--ad-hover-text);
    cursor: pointer;
}
/* секция ЭФФЕКТИВНЫЕ РЕШЕНИЯ */
.ef-solutions,
.footer {
    background-color: var(--back-main);
}
.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 210px;

}
.solutions h1 {
    color: var(--on-back-text);
    justify-content: center;
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.btn {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
}
.btn:hover {
    cursor: pointer;
}
/* секция НАШИ ПРЕИМУЩЕСТВА */
.edge {
    display: flex;
    justify-content: space-between;
    padding: 94px 0;
}
.edge li {
    width: 270px;
}
.edge h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--main-text);
    padding-bottom: 10px;
    margin: 0;
}
.edge p {
    font-size: 14px;
    color: var(--ad-main-text);
    padding: 0;
    margin: 0;
}
/* секция ЧЕМ МЫ ЗАНИМАЕМСЯ */
.we-doing {
    padding-bottom: 94px;
}
.we-doing h2 {
    font-size: 34px;
    color: var(--main-text);
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}
.we-doing-images {
    display: flex;
    justify-content: space-between;
}
.img {
    width: 370px;
}
/* секция НАША КОМАНДА */
.sec-team {
    background-color: var(--back-ad-main);
    padding-top: 94px;
    padding-bottom: 94px;

}
.sec-team li:hover {
    cursor: pointer;
}
.sec-team h2 {
    color: var(--main-text);
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}
.our-team {
    display: flex;
    justify-content: space-between;
}
.our-team h3 {
    color: var(--main-text);
    font-size: 16px;
    text-align: center;
}
.our-team p {
    color: var(--ad-main-text);
    text-align: center;
}
.our-team li {
    width: 270px;
    background-color: var(--back-team);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.member {
    width: 270px;
}
/* ПОРТФОЛИО */
.sec-view li:hover {
    cursor: pointer;
}
.tools {
    display: flex;
    justify-content: center;
}
.tools li {
    margin-top: 94px;
    margin-bottom: 50px;
}
.btns {
    background-color: var(--back-ad-main);
    color: var(--main-text);
    padding: 6px 22px;
    margin: 0 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btns:hover {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
}
.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
}
.view li {
    border: 1px solid var(--line-view);
    margin-bottom: 30px;
}
.view-img {
    width: 370px;
}
.view h3 {
    color: var(--main-text);
    font-size: 18px;
    padding-left: 24px;
    margin: 20px 0 0 0;
    line-height: 2.0;
}
.view p {
    color: var(--ad-main-text);
    padding-left: 24px;
    margin: 0 0 20px 0;
    line-height: 2.3;
}

/* секция FOOTER */
.footer-em {
    padding: 60px 15px;
    margin: 0;
}
.emblem-footer {
    color: var(--on-back-text);
}
.footer-ad {
    color: var(--on-back-text);
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.8;
}
.footer li a {
    color: var(--ad-main-text);
    font-size: 14px;
    line-height: 1.8;
}
.footer a:hover {
    color: var(--ad-hover-text);
    cursor: pointer;
}

